# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree
#recentf#

newsticker/
quelpa/
elpa-*/
projectile-bookmarks.eld
recentf
network-security.data
url/
pyim/
.org-id-locations
eshell/
org-clock-save.el
